<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @doubt.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @doubt.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @doubt.user.email %>
</p>

<%= render 'offers/form', offer: @offer %>

<%= link_to 'Edit', edit_doubt_path(@doubt) %> |
<%= link_to 'Back', doubts_path %>
