%ul
	%li
		= link_to dashboard_index_path, class: 'active' do
			= 'NoFAQ'
	%li
		= link_to mine_doubts_path do
			= 'Mis dudas/respuestas'
	%li
		= link_to doubts_path do
			= 'Dudas globales'
	%li
		= link_to doubts_path do
			= 'Seccion de dudas'
	%li
		= link_to '#search' do
			= 'Buscador ...'
	%li.right
		= link_to dashboard_index_path do
			= 'Mensajes privados'
	%li.right
		= link_to dashboard_index_path do
			= 'Notificaciones'
	%li.right
		- if user_signed_in?
			= link_to destroy_user_session_path, method: :delete  do
				= 'Cerrar sesion'