.nav-bar
	.nav-logo
		= link_to dashboard_index_path do
			= 'NoFAQ'
	.nav-search
		= 'Buscador ...'
	.nav-options
		.direct-messages
			= 'Mensajes privados'
		.real-time-notifications
			= 'Notificaciones'
		.profile
			= 'Mi perfil'
			- if user_signed_in?
				= link_to destroy_user_session_path, method: :delete  do
					= 'Cerrar sesion'