<p id="notice"><%= notice %></p>

<p>
  <strong>Currency:</strong>
  <%= @offer.currency %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @offer.amount %>
</p>

<p>
  <strong>User:</strong>
  <%= @offer.user.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @offer.description %>
</p>