<p id="notice"><%= notice %></p>

<p>
  <strong>Currency:</strong>
  <%= @offer.currency %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @offer.amount %>
</p>

<p>
  <strong>User:</strong>
  <%= @offer.user %>
</p>

<p>
  <strong>Doubt:</strong>
  <%= @offer.doubt %>
</p>