<!DOCTYPE html>
<html>
  <head>
    <title>Nofaq</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <br>
    <% if user_signed_in? %>
	    <%= link_to destroy_user_session_path, method: :delete  do %>
	    	<%= 'Cerrar sesion' %>
	    <% end %>
    <% end %>
  </body>
</html>
